# About Florida Insurance Analysis

Book combines historical publicly reported data from the FL department of insurance to evaluate trends in market share, claims frequency/severity, and hurricane losses.

Data downloaded from https://apps.fldfs.com/QSRNG/Reports/ReportCriteria.aspx on 04 and 05 April 2025.

Environment AKStandard (Python 3.11.9)

# Imports

In [2]:
import numpy as np

In [3]:
import pandas as pd # data ingestion, manipulation
import os # importing raw data - may need to just import full os
import time # I just want to very briefly look at data and have it print for a second to glance at it
from IPython.display import clear_output # thanks to ChatGPT - lets me clear printed data

# Data Extraction/Ingestion

Outline/Plan

function - import, remove grand total\
function - check/remove blank columns\
compile to a single df\
\
future: move to AW S3 bucket, SQL access

In [4]:
# listdir('./data/raw')[-1]

In [5]:
info = pd.read_excel('./data/raw/2009Q1.xlsx', skiprows = 14)
print(f"The imported shape is: {info.shape}\nThe last named insurers are:\n{info.iloc[-2:,1]}\n")
grand_total_row = info.shape[0] - 1
info.drop(grand_total_row, axis=0, inplace=True)
print(f"The updated shape is: {info.shape}\nThe last named insurers are:\n{info.iloc[-2:,1]}")

The imported shape is: (214, 65)
The last named insurers are:
212    TESLA PROPERTY & CASUALTY, INC.
213                                NaN
Name: Insurer Name, dtype: object

The updated shape is: (213, 65)
The last named insurers are:
211    STATE NATIONAL INSURANCE COMPANY INC.
212          TESLA PROPERTY & CASUALTY, INC.
Name: Insurer Name, dtype: object

# Initial EDA

In [6]:
len(info.columns)

65

In [7]:
counter = 0
for x in info.columns:
    counter += 1
    clear_output(wait = True)
    print(f"Iteration: {counter} Column: {x}\n", info[x])
    time.sleep(0.2)

Iteration: 65 Column: Unnamed: 64
 0      0%
1      0%
2      0%
3      0%
4      0%
       ..
208    0%
209    0%
210    0%
211    0%
212    0%
Name: Unnamed: 64, Length: 213, dtype: object

In [8]:
info.iloc[:,62]

0      0%
1      0%
2      0%
3      0%
4      0%
       ..
208    0%
209    0%
210    0%
211    0%
212    0%
Name: Unnamed: 62, Length: 213, dtype: object

In [9]:
info.iloc[:,62].isnull().all()

np.False_

In [10]:
x = "Rank"
# info.loc[:,x]
info.loc[:,x].isnull().all()

np.False_

In [11]:
null_columns = []
not_null_columns = []
leftover_columns = []

for x in info.columns:
    if "Unnamed" not in x and info.loc[:,x].isnull().all() == False:
        not_null_columns.append(x)
    elif "Unnamed" in x and info.loc[:,x].isnull().all() == False:
        leftover_columns.append(x)
    else:
        if info.loc[:,x].isnull().all():
            null_columns.append(x)

null_columns
not_null_columns
leftover_columns

['Unnamed: 10',
 'Unnamed: 14',
 'Unnamed: 19',
 'Unnamed: 21',
 'Unnamed: 23',
 'Unnamed: 25',
 'Unnamed: 27',
 'Unnamed: 29',
 'Unnamed: 31',
 'Unnamed: 33',
 'Unnamed: 35',
 'Unnamed: 37',
 'Unnamed: 39',
 'Unnamed: 41',
 'Unnamed: 43',
 'Unnamed: 46',
 'Unnamed: 48',
 'Unnamed: 50',
 'Unnamed: 52',
 'Unnamed: 54',
 'Unnamed: 56',
 'Unnamed: 58',
 'Unnamed: 60',
 'Unnamed: 62',
 'Unnamed: 64']

In [12]:
print(null_columns)
print(not_null_columns)
print(leftover_columns)

['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 9', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 15', 'Unnamed: 17', 'Unnamed: 18', 'Claims Opened', 'Unnamed: 45', 'Claims Closed', 'Claims Pending', 'Claims Alternative Dispute', 'Claims with Mediation', 'Claims with Arbitration', 'Claims with Appraisal', 'Claims with Sink Hole Eval', 'Claims with Settlement Conf', 'Claims with Other']
['Rank', 'Insurer Name', 'Policies In Force', 'Total $ value of exposure for policies in force that include wind coverage', 'Number of policies canceled', 'Number of policies nonrenewed', 'Number of policies canceled due to hurricane risk', 'Number of policies nonrenewed due to hurricane risk', 'Number of new policies written', 'Policies in force that exclude wind coverage', 'Total premiums written', 'Policies in force that include wind coverage', 'Total $ value of exposure for policies in force that exclude wind coverage', 'Direct premium written for policies in force that include wind coverage', 'Direct premium written for policies in force that exclude wind coverage', 'Number of policies transferred to other insurers', 'Number of policies received from other insurers']
['Unnamed: 10', 'Unnamed: 14', 'Unnamed: 19', 'Unnamed: 21', 'Unnamed: 23', 'Unnamed: 25', 'Unnamed: 27', 'Unnamed: 29', 'Unnamed: 31', 'Unnamed: 33', 'Unnamed: 35', 'Unnamed: 37', 'Unnamed: 39', 'Unnamed: 41', 'Unnamed: 43', 'Unnamed: 46', 'Unnamed: 48', 'Unnamed: 50', 'Unnamed: 52', 'Unnamed: 54', 'Unnamed: 56', 'Unnamed: 58', 'Unnamed: 60', 'Unnamed: 62', 'Unnamed: 64']

In [13]:
info[null_columns]

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 9,Unnamed: 12,Unnamed: 13,Unnamed: 15,...,Unnamed: 45,Claims Closed,Claims Pending,Claims Alternative Dispute,Claims with Mediation,Claims with Arbitration,Claims with Appraisal,Claims with Sink Hole Eval,Claims with Settlement Conf,Claims with Other
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# pandas display options - https://pandas.pydata.org/docs/user_guide/options.html

# pd.options.display.max_rows
pd.options.display.max_columns = 50
# pd.reset_option("display.max_columns")

In [15]:
mod_df = info.copy().drop(labels=null_columns, axis = 1)

mod_df.shape

(213, 42)

In [16]:
display(mod_df)

,Rank,Insurer Name,Policies In Force,Unnamed: 10,Total $ value of exposure for policies in force that include wind coverage,Unnamed: 14,Number of policies canceled,Unnamed: 19,Number of policies nonrenewed,Unnamed: 21,Number of policies canceled due to hurricane risk,Unnamed: 23,Number of policies nonrenewed due to hurricane risk,Unnamed: 25,Number of new policies written,Unnamed: 27,Policies in force that exclude wind coverage,Unnamed: 29,Total premiums written,Unnamed: 31,Policies in force that include wind coverage,Unnamed: 33,Total $ value of exposure for policies in force that exclude wind coverage,Unnamed: 35,Direct premium written for policies in force that include wind coverage,Unnamed: 37,Direct premium written for policies in force that exclude wind coverage,Unnamed: 39,Number of policies transferred to other insurers,Unnamed: 41,Number of policies received from other insurers,Unnamed: 43,Unnamed: 46,Unnamed: 48,Unnamed: 50,Unnamed: 52,Unnamed: 54,Unnamed: 56,Unnamed: 58,Unnamed: 60,Unnamed: 62,Unnamed: 64
0,1,CITIZENS PROPERTY INSURANCE CORPORATION,1005077,16.20%,3.722960e+11,17.68%,46264,17.88%,68660,41.17%,0,0%,0,0%,115136,26.14%,44197,10.14%,2.145990e+09,22.40%,960880,16.66%,9.011916e+09,3.93%,2.102452e+09,23.20%,43538240.00,8.40%,62473,90.36%,16726,14.15%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
1,2,STATE FARM FLORIDA INSURANCE COMPANY,853867,13.77%,3.630460e+11,17.24%,42925,16.59%,12090,7.25%,0,0%,1591,40.01%,6882,1.56%,54402,12.49%,1.099052e+09,11.47%,799465,13.86%,2.683506e+10,11.71%,1.053046e+09,11.62%,46006276.63,8.88%,0,0%,0,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
2,3,UNIVERSAL PROPERTY & CASUALTY INSURANCE COMPANY,498139,8.03%,1.062854e+11,5.05%,11644,4.50%,15616,9.36%,0,0%,0,0%,63545,14.43%,9229,2.12%,5.435019e+08,5.67%,488910,8.48%,1.557849e+09,0.68%,5.389971e+08,5.95%,4504779.00,0.87%,0,0%,0,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
3,4,"ST. JOHNS INSURANCE COMPANY, INC.",204409,3.30%,7.666128e+10,3.64%,8678,3.35%,150,0.09%,0,0%,0,0%,14512,3.30%,672,0.15%,2.888741e+08,3.02%,203737,3.53%,3.152519e+08,0.14%,2.881647e+08,3.18%,709418.00,0.14%,0,0%,0,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
4,5,UNITED SERVICES AUTOMOBILE ASSOCIATION,163850,2.64%,6.551545e+10,3.11%,3040,1.17%,983,0.59%,0,0%,0,0%,3577,0.81%,13459,3.09%,2.146876e+08,2.24%,150391,2.61%,1.000595e+10,4.36%,2.024004e+08,2.23%,12287202.42,2.37%,0,0%,0,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,209,AMERICAN COMMERCE INSURANCE COMPANY,0,0%,0.000000e+00,0%,1,0%,0,0%,0,0%,0,0%,0,0%,0,0%,0.000000e+00,0%,0,0%,0.000000e+00,0%,0.000000e+00,0%,0.00,0%,0,0%,0,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
209,210,AMERICAN GENERAL PROPERTY INS CO OF FLORIDA,0,0%,0.000000e+00,0%,2,0%,0,0%,0,0%,0,0%,0,0%,0,0%,0.000000e+00,0%,0,0%,0.000000e+00,0%,0.000000e+00,0%,0.00,0%,0,0%,0,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
210,211,EMC PROPERTY & CASUALTY COMPANY,0,0%,0.000000e+00,0%,2,0%,0,0%,0,0%,0,0%,0,0%,0,0%,0.000000e+00,0%,0,0%,0.000000e+00,0%,0.000000e+00,0%,0.00,0%,0,0%,0,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
211,212,STATE NATIONAL INSURANCE COMPANY INC.,0,0%,0.000000e+00,0%,0,0%,0,0%,0,0%,0,0%,0,0%,0,0%,0.000000e+00,0%,0,0%,0.000000e+00,0%,0.000000e+00,0%,0.00,0%,141,0.20%,0,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
212,213,"TESLA PROPERTY & CASUALTY, INC.",0,0%,0.000000e+00,0%,0,0%,3,0%,0,0%,0,0%,0,0%,0,0%,0.000000e+00,0%,0,0%,0.000000e+00,0%,0.000000e+00,0%,0.00,0%,0,0%,0,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%

# Comparing Raw Data

I need to figure out if all of the raw data files have the same width/number of columns and if the same columns are blank between them.

In [17]:
file_names = [file for file in os.listdir('./data/raw') if file[0] != '.']

raw_data_detail = {}
for file_name in file_names:
    raw_data = pd.read_excel(f'./data/raw/{file_name}', skiprows = 14)
    width = len(raw_data.columns)
    column_names = list(raw_data.columns)
    full_columns = {}
    for column in raw_data.columns:
        if raw_data.loc[:,column].isnull().all() == False:
            full_columns.update({column : 1})
        else:
            full_columns.update({column : 0})
    raw_data_detail.update({file_name[:6] : {'width' : width, 'full_columns' : full_columns}}) #  'column_names' : column_names, unnecessary bc all column names in "full_columns"

individual_width = []
for file in raw_data_detail.keys():
    individual_width.append((raw_data_detail[file]['width']))
set(individual_width)

{65}

In [18]:
raw_data_detail['2009Q4'] #['full_columns']

{'width': 65,
 'full_columns': {'Rank': 1,
  'Insurer Name': 1,
  'Unnamed: 2': 0,
  'Unnamed: 3': 0,
  'Unnamed: 4': 0,
  'Unnamed: 5': 0,
  'Unnamed: 6': 0,
  'Unnamed: 7': 0,
  'Policies In Force': 1,
  'Unnamed: 9': 0,
  'Unnamed: 10': 1,
  'Total $ value of exposure for policies in force that include wind coverage': 1,
  'Unnamed: 12': 0,
  'Unnamed: 13': 0,
  'Unnamed: 14': 1,
  'Unnamed: 15': 0,
  'Number of policies canceled': 1,
  'Unnamed: 17': 0,
  'Unnamed: 18': 0,
  'Unnamed: 19': 1,
  'Number of policies nonrenewed': 1,
  'Unnamed: 21': 1,
  'Number of policies canceled due to hurricane risk': 1,
  'Unnamed: 23': 1,
  'Number of policies nonrenewed due to hurricane risk': 1,
  'Unnamed: 25': 1,
  'Number of new policies written': 1,
  'Unnamed: 27': 1,
  'Policies in force that exclude wind coverage': 1,
  'Unnamed: 29': 1,
  'Total premiums written': 1,
  'Unnamed: 31': 1,
  'Policies in force that include wind coverage': 1,
  'Unnamed: 33': 1,
  'Total $ value of exposure for policies in force that exclude wind coverage': 1,
  'Unnamed: 35': 1,
  'Direct premium written for policies in force that include wind coverage': 1,
  'Unnamed: 37': 1,
  'Direct premium written for policies in force that exclude wind coverage': 1,
  'Unnamed: 39': 1,
  'Number of policies transferred to other insurers': 1,
  'Unnamed: 41': 1,
  'Number of policies received from other insurers': 1,
  'Unnamed: 43': 1,
  'Claims Opened': 0,
  'Unnamed: 45': 0,
  'Unnamed: 46': 1,
  'Claims Closed': 0,
  'Unnamed: 48': 1,
  'Claims Pending': 0,
  'Unnamed: 50': 1,
  'Claims Alternative Dispute': 0,
  'Unnamed: 52': 1,
  'Claims with Mediation': 0,
  'Unnamed: 54': 1,
  'Claims with Arbitration': 0,
  'Unnamed: 56': 1,
  'Claims with Appraisal': 0,
  'Unnamed: 58': 1,
  'Claims with Sink Hole Eval': 0,
  'Unnamed: 60': 1,
  'Claims with Settlement Conf': 0,
  'Unnamed: 62': 1,
  'Claims with Other': 0,
  'Unnamed: 64': 1}}

In [19]:
# confirm all columns match either having data or being blank
check_columns = pd.DataFrame.from_dict({file_name: values["full_columns"] for file_name, values in raw_data_detail.items()}, orient="index")

for column in check_columns.columns:
    if raw_data.loc[:,column].isnull().all() == True:
        check_columns.drop(column, axis = 1, inplace = True)
check_columns.sort_index(inplace=True)
pd.set_option("display.max_columns", None)
display(check_columns.head(50))
pd.reset_option("display.max_columns")

,Rank,Insurer Name,Policies In Force,Unnamed: 10,Total $ value of exposure for policies in force that include wind coverage,Unnamed: 14,Number of policies canceled,Unnamed: 19,Number of policies nonrenewed,Unnamed: 21,Number of policies canceled due to hurricane risk,Unnamed: 23,Number of policies nonrenewed due to hurricane risk,Unnamed: 25,Number of new policies written,Unnamed: 27,Policies in force that exclude wind coverage,Unnamed: 29,Total premiums written,Unnamed: 31,Policies in force that include wind coverage,Unnamed: 33,Total $ value of exposure for policies in force that exclude wind coverage,Unnamed: 35,Direct premium written for policies in force that include wind coverage,Unnamed: 37,Direct premium written for policies in force that exclude wind coverage,Unnamed: 39,Number of policies transferred to other insurers,Unnamed: 41,Number of policies received from other insurers,Unnamed: 43,Claims Opened,Unnamed: 46,Claims Closed,Unnamed: 48,Claims Pending,Unnamed: 50,Claims Alternative Dispute,Unnamed: 52,Claims with Mediation,Unnamed: 54,Claims with Arbitration,Unnamed: 56,Claims with Appraisal,Unnamed: 58,Claims with Sink Hole Eval,Unnamed: 60,Claims with Settlement Conf,Unnamed: 62,Claims with Other,Unnamed: 64
2009Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2009Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2009Q3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2009Q4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2010Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2010Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2010Q3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2010Q4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2011Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2011Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2011Q3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2011Q4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2012Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2012Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2012Q3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2012Q4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2013Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2013Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2013Q3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2013Q4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2014Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2014Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2014Q3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2014Q4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2015Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2015Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2015Q3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2015Q4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2016Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2016Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2016Q3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2016Q4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2017Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2017Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2017Q3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2017Q4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2018Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2018Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2018Q3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2018Q4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2019Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2019Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
2019Q3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2019Q4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2020Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2020Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2020Q3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2020Q4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2021Q1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2021Q2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

By visual inspection, it looks like 2019Q3 is the first time data were reported for Claims Open and after.

In [20]:
d2023Q2 = pd.read_excel(f'./data/raw/2023Q2.xlsx', skiprows = 14)
# d2023Q2df = d2023Q2.loc[:,'Claims with Arbitration']
col_loc_23 = d2023Q2.columns.get_loc("Claims with Arbitration")
d2009Q3 = pd.read_excel(f'./data/raw/2009Q3.xlsx', skiprows = 14)
# d2009Q3df = d2009Q3.loc[:,'Claims with Arbitration']
col_loc_09 = d2009Q3.columns.get_loc("Claims with Arbitration")

In [21]:
selected_cols = d2023Q2.iloc[:, col_loc_23-2:col_loc_23+3]
selected_cols

,Claims with Mediation,Unnamed: 54,Claims with Arbitration,Unnamed: 56,Claims with Appraisal
0,720,78.60%,0,0%,3803
1,0,0%,0,0%,0
2,68,7.42%,333,80.43%,169
3,0,0%,0,0%,0
4,0,0%,0,0%,0
...,...,...,...,...,...
99,1,0.11%,0,0%,0
100,0,0%,0,0%,0
101,0,0%,0,0%,0
102,0,0%,0,0%,0
103,916,NaN,414,NaN,4102

In [22]:
selected_cols = d2009Q3.iloc[:, col_loc_09-2:col_loc_09+3]
selected_cols

,Claims with Mediation,Unnamed: 54,Claims with Arbitration,Unnamed: 56,Claims with Appraisal
0,NaN,0%,NaN,0%,NaN
1,NaN,0%,NaN,0%,NaN
2,NaN,0%,NaN,0%,NaN
3,NaN,0%,NaN,0%,NaN
4,NaN,0%,NaN,0%,NaN
...,...,...,...,...,...
207,NaN,0%,NaN,0%,NaN
208,NaN,0%,NaN,0%,NaN
209,NaN,0%,NaN,0%,NaN
210,NaN,0%,NaN,0%,NaN
211,NaN,NaN,NaN,NaN,NaN

In [23]:
# Find the last valid column before "claims opened" to keep data consistent between pre2019Q3 data when removing\
# invalid columns that are caused by importing from Excel
last_valid_column = d2023Q2.columns.get_loc('Unnamed: 43')
last_valid_column

43

So I need to take all columns before 43 that are unlabeled and have no data in them and remove them. Each column with a label will be number of policies in that category; to the right of each column with values will be it's percentage. After column 43, for data pre2019Q3, the labeled columns will be empty/NA but should not be deleted; and the columns to their right will be 0%s.

Alternatively, keep all labeled columns; where unnamed AND NA data, drop. Then rename columns to the right of labeled as % of preceding column

In [24]:
# Let's just look at d2009Q3 first.
display(d2009Q3)

for column in d2009Q3.columns:
    if "Unnamed" in column and raw_data.loc[:,column].isnull().all() == True:
        # print(f"{column} is unnamed.")
        d2009Q3.drop(column, axis = 1, inplace = True)
    else:
        # print(f"{column} is NOT unnamed.")
        pass

display(d2009Q3)

,Rank,Insurer Name,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Policies In Force,Unnamed: 9,...,Claims with Arbitration,Unnamed: 56,Claims with Appraisal,Unnamed: 58,Claims with Sink Hole Eval,Unnamed: 60,Claims with Settlement Conf,Unnamed: 62,Claims with Other,Unnamed: 64
0,1,CITIZENS PROPERTY INSURANCE CORPORATION,NaN,NaN,NaN,NaN,NaN,NaN,1031546,NaN,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
1,2,STATE FARM FLORIDA INSURANCE COMPANY,NaN,NaN,NaN,NaN,NaN,NaN,790385,NaN,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
2,3,UNIVERSAL PROPERTY & CASUALTY INSURANCE COMPANY,NaN,NaN,NaN,NaN,NaN,NaN,532874,NaN,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
3,4,"ST. JOHNS INSURANCE COMPANY, INC.",NaN,NaN,NaN,NaN,NaN,NaN,198727,NaN,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
4,5,UNITED SERVICES AUTOMOBILE ASSOCIATION,NaN,NaN,NaN,NaN,NaN,NaN,159748,NaN,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,208,COLONIAL AMERICAN CASUALTY AND SURETY COMPANY,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
208,209,LIBERTY AMERICAN INSURANCE COMPANY,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
209,210,LIBERTY AMERICAN SELECT INSURANCE COMPANY,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
210,211,"USIC OF FLORIDA, INC.",NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
211,Grand Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6200470,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Rank,Insurer Name,Policies In Force,Unnamed: 10,Total $ value of exposure for policies in force that include wind coverage,Unnamed: 14,Number of policies canceled,Unnamed: 19,Number of policies nonrenewed,Unnamed: 21,...,Claims with Arbitration,Unnamed: 56,Claims with Appraisal,Unnamed: 58,Claims with Sink Hole Eval,Unnamed: 60,Claims with Settlement Conf,Unnamed: 62,Claims with Other,Unnamed: 64
0,1,CITIZENS PROPERTY INSURANCE CORPORATION,1031546,16.64%,3.856419e+11,17.89%,35875,15.52%,106337,57.25%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
1,2,STATE FARM FLORIDA INSURANCE COMPANY,790385,12.75%,3.461672e+11,16.06%,28019,12.12%,3218,1.73%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
2,3,UNIVERSAL PROPERTY & CASUALTY INSURANCE COMPANY,532874,8.59%,1.135316e+11,5.27%,12188,5.27%,15951,8.59%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
3,4,"ST. JOHNS INSURANCE COMPANY, INC.",198727,3.21%,7.528658e+10,3.49%,10481,4.53%,242,0.13%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
4,5,UNITED SERVICES AUTOMOBILE ASSOCIATION,159748,2.58%,6.729733e+10,3.12%,4529,1.96%,857,0.46%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,208,COLONIAL AMERICAN CASUALTY AND SURETY COMPANY,0,0%,0.000000e+00,0%,0,0%,4,0%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
208,209,LIBERTY AMERICAN INSURANCE COMPANY,0,0%,0.000000e+00,0%,54,0.02%,174,0.09%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
209,210,LIBERTY AMERICAN SELECT INSURANCE COMPANY,0,0%,0.000000e+00,0%,27,0.01%,107,0.06%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
210,211,"USIC OF FLORIDA, INC.",0,0%,0.000000e+00,0%,27,0.01%,63,0.03%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
211,Grand Total,NaN,6200470,NaN,2.155818e+12,NaN,231158,NaN,185738,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The simplified analysis appears much more efficient and valid comparing dataframe to excel data. Will update all data in this manner, and correct "unnamed" columns as percentages. I think it wold be best to collect all data in a single dataframe, so maybe it would be easier to only correct the titles on a master dataframe and only append subsequent data to that dataframe? I should also remove the "grand total" row in doing this because it will be redundant/unnecessary while I can calculate this value PRN.

In [25]:
# remove "grand total" row, rename columns to demonstrate doing so.

# d2009Q3.drop(index = d2009Q3.index[-1],inplace=True)

for column in d2009Q3.columns:
    if "Unnamed" in column:
        current_column_number = d2009Q3.columns.get_loc(column)
        name_preceding = d2009Q3.columns[current_column_number - 1]
        new_column_name = "Percentage " + name_preceding
        d2009Q3.rename(columns = {column : new_column_name}, inplace = True)

In [26]:
file_names.sort()
file_names[0:8]

['2009Q1.xlsx',
 '2009Q2.xlsx',
 '2009Q3.xlsx',
 '2009Q4.xlsx',
 '2010Q1.xlsx',
 '2010Q2.xlsx',
 '2010Q3.xlsx',
 '2010Q4.xlsx']

In [27]:
# create fresh df, take column labels from first ordered dataset, add column to specify date, clean dataset, add to master df

file_names = [file for file in os.listdir('./data/raw') if file[0] != '.']

file_names.sort()

# function to simplify and remove extra columns
def remove_empty_columns(processing_df):
    for column in processing_df.columns:
            if "Unnamed" in column and processing_df.loc[:,column].isnull().all() == True:
                processing_df.drop(column, axis = 1, inplace = True)
    # remove the "grand total" row
    processing_df.drop(index = processing_df.index[-1],inplace=True)
    return processing_df

# import only the first file to begin the dataframe
master_df = pd.read_excel(f'./data/raw/{file_names[0]}', skiprows = 14)

remove_empty_columns(master_df)

# rename columns in master
for column in master_df.columns:
    if "Unnamed" in column:
        current_column_number = master_df.columns.get_loc(column)
        name_preceding = master_df.columns[current_column_number - 1]
        new_column_name = "Percentage " + name_preceding
        master_df.rename(columns = {column : new_column_name}, inplace = True)

# add column to identify which dataset the data come from
master_df.insert(0, 'dataset', value = file_names[0][:6])

# import remaining datasets
for file_name in file_names[1:]:
    working_df = pd.read_excel(f'./data/raw/{file_name}', skiprows = 14)
    remove_empty_columns(working_df)
    working_df.insert(0, 'dataset', value = file_name[:6])
    master_df = pd.concat([master_df, working_df], axis = 0, ignore_index = True) #ChatGPT assures me this is unlikely to be a problem to keep reiterating over the same df

master_df

,dataset,Rank,Insurer Name,Policies In Force,Percentage Policies In Force,Total $ value of exposure for policies in force that include wind coverage,Percentage Total $ value of exposure for policies in force that include wind coverage,Number of policies canceled,Percentage Number of policies canceled,Number of policies nonrenewed,...,Unnamed: 46,Unnamed: 48,Unnamed: 50,Unnamed: 52,Unnamed: 54,Unnamed: 56,Unnamed: 58,Unnamed: 60,Unnamed: 62,Unnamed: 64
0,2009Q1,1,CITIZENS PROPERTY INSURANCE CORPORATION,1005077,16.20%,3.722960e+11,17.68%,46264,17.88%,68660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009Q1,2,STATE FARM FLORIDA INSURANCE COMPANY,853867,13.77%,3.630460e+11,17.24%,42925,16.59%,12090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009Q1,3,UNIVERSAL PROPERTY & CASUALTY INSURANCE COMPANY,498139,8.03%,1.062854e+11,5.05%,11644,4.50%,15616,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009Q1,4,"ST. JOHNS INSURANCE COMPANY, INC.",204409,3.30%,7.666128e+10,3.64%,8678,3.35%,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009Q1,5,UNITED SERVICES AUTOMOBILE ASSOCIATION,163850,2.64%,6.551545e+10,3.11%,3040,1.17%,983,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10433,2024Q4,81,FIDELITY AND DEPOSIT COMPANY OF MARYLAND,0,NaN,0.000000e+00,NaN,0,NaN,0,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
10434,2024Q4,82,MAIN STREET AMERICA PROTECTION INSURANCE COMPANY,0,NaN,0.000000e+00,NaN,0,NaN,1,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
10435,2024Q4,83,NATIONWIDE INSURANCE COMPANY OF FLORIDA,0,NaN,0.000000e+00,NaN,0,NaN,0,...,0.09%,0%,0.09%,0%,0%,0%,0%,0%,0%,0%
10436,2024Q4,84,PATRIOT SELECT PROPERTY AND CASUALTY INSURANCE...,0,NaN,0.000000e+00,NaN,0,NaN,0,...,0.01%,0%,0.01%,0%,0%,0%,0%,0%,0%,0%
10437,2024Q4,85,VALLEY FORGE INSURANCE COMPANY,0,NaN,0.000000e+00,NaN,0,NaN,0,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%

The output still has some NA columns being appended? Not sure which dataset they come from.

In [ ]:
# check if NaN columns are truly empty or if they have something in them. Why don't they have names???? What files do they come from?

set_sources = set()
kvp = {}

for column in master_df.columns:
    if "Unnamed" in column:
        filled = 0
        for x in master_df[column].index:
            if pd.notna(master_df.loc[x,column]) and master_df.loc[x,column] != '0%':
                set_sources.add(master_df.loc[x,"dataset"])
                kvp[column + f" row {str(x)}"] = f"""value {master_df.loc[x,column]}, origin {master_df.loc[x,"dataset"]}"""
                filled = 1
        # if filled == 0:
        #     print(f"Column {column} does NOT contain data.")
        # else:
        #     print(f"Column {column} DOES contain data.")

# print(set_sources)
display(kvp)

{'Unnamed: 10 row 213': 'value 16.33%, origin 2009Q2',
 'Unnamed: 10 row 214': 'value 13.14%, origin 2009Q2',
 'Unnamed: 10 row 215': 'value 8.36%, origin 2009Q2',
 'Unnamed: 10 row 216': 'value 3.26%, origin 2009Q2',
 'Unnamed: 10 row 217': 'value 2.59%, origin 2009Q2',
 'Unnamed: 10 row 218': 'value 2.50%, origin 2009Q2',
 'Unnamed: 10 row 219': 'value 2.12%, origin 2009Q2',
 'Unnamed: 10 row 220': 'value 2.05%, origin 2009Q2',
 'Unnamed: 10 row 221': 'value 1.94%, origin 2009Q2',
 'Unnamed: 10 row 222': 'value 1.86%, origin 2009Q2',
 'Unnamed: 10 row 223': 'value 1.85%, origin 2009Q2',
 'Unnamed: 10 row 224': 'value 1.65%, origin 2009Q2',
 'Unnamed: 10 row 225': 'value 1.56%, origin 2009Q2',
 'Unnamed: 10 row 226': 'value 1.52%, origin 2009Q2',
 'Unnamed: 10 row 227': 'value 1.49%, origin 2009Q2',
 'Unnamed: 10 row 228': 'value 1.46%, origin 2009Q2',
 'Unnamed: 10 row 229': 'value 1.34%, origin 2009Q2',
 'Unnamed: 10 row 230': 'value 1.32%, origin 2009Q2',
 'Unnamed: 10 row 231': 'value 1.31%, origin 2009Q2',
 'Unnamed: 10 row 232': 'value 1.26%, origin 2009Q2',
 'Unnamed: 10 row 233': 'value 1.22%, origin 2009Q2',
 'Unnamed: 10 row 234': 'value 1.17%, origin 2009Q2',
 'Unnamed: 10 row 235': 'value 1.13%, origin 2009Q2',
 'Unnamed: 10 row 236': 'value 1.05%, origin 2009Q2',
 'Unnamed: 10 row 237': 'value 1%, origin 2009Q2',
 'Unnamed: 10 row 238': 'value 0.94%, origin 2009Q2',
 'Unnamed: 10 row 239': 'value 0.93%, origin 2009Q2',
 'Unnamed: 10 row 240': 'value 0.87%, origin 2009Q2',
 'Unnamed: 10 row 241': 'value 0.87%, origin 2009Q2',
 'Unnamed: 10 row 242': 'value 0.81%, origin 2009Q2',
 'Unnamed: 10 row 243': 'value 0.78%, origin 2009Q2',
 'Unnamed: 10 row 244': 'value 0.78%, origin 2009Q2',
 'Unnamed: 10 row 245': 'value 0.75%, origin 2009Q2',
 'Unnamed: 10 row 246': 'value 0.75%, origin 2009Q2',
 'Unnamed: 10 row 247': 'value 0.74%, origin 2009Q2',
 'Unnamed: 10 row 248': 'value 0.74%, origin 2009Q2',
 'Unnamed: 10 row 249': 'value 0.73%, origin 2009Q2',
 'Unnamed: 10 row 250': 'value 0.72%, origin 2009Q2',
 'Unnamed: 10 row 251': 'value 0.67%, origin 2009Q2',
 'Unnamed: 10 row 252': 'value 0.66%, origin 2009Q2',
 'Unnamed: 10 row 253': 'value 0.65%, origin 2009Q2',
 'Unnamed: 10 row 254': 'value 0.59%, origin 2009Q2',
 'Unnamed: 10 row 255': 'value 0.56%, origin 2009Q2',
 'Unnamed: 10 row 256': 'value 0.55%, origin 2009Q2',
 'Unnamed: 10 row 257': 'value 0.52%, origin 2009Q2',
 'Unnamed: 10 row 258': 'value 0.51%, origin 2009Q2',
 'Unnamed: 10 row 259': 'value 0.50%, origin 2009Q2',
 'Unnamed: 10 row 260': 'value 0.46%, origin 2009Q2',
 'Unnamed: 10 row 261': 'value 0.45%, origin 2009Q2',
 'Unnamed: 10 row 262': 'value 0.44%, origin 2009Q2',
 'Unnamed: 10 row 263': 'value 0.43%, origin 2009Q2',
 'Unnamed: 10 row 264': 'value 0.42%, origin 2009Q2',
 'Unnamed: 10 row 265': 'value 0.42%, origin 2009Q2',
 'Unnamed: 10 row 266': 'value 0.41%, origin 2009Q2',
 'Unnamed: 10 row 267': 'value 0.39%, origin 2009Q2',
 'Unnamed: 10 row 268': 'value 0.39%, origin 2009Q2',
 'Unnamed: 10 row 269': 'value 0.39%, origin 2009Q2',
 'Unnamed: 10 row 270': 'value 0.31%, origin 2009Q2',
 'Unnamed: 10 row 271': 'value 0.29%, origin 2009Q2',
 'Unnamed: 10 row 272': 'value 0.27%, origin 2009Q2',
 'Unnamed: 10 row 273': 'value 0.26%, origin 2009Q2',
 'Unnamed: 10 row 274': 'value 0.26%, origin 2009Q2',
 'Unnamed: 10 row 275': 'value 0.25%, origin 2009Q2',
 'Unnamed: 10 row 276': 'value 0.25%, origin 2009Q2',
 'Unnamed: 10 row 277': 'value 0.22%, origin 2009Q2',
 'Unnamed: 10 row 278': 'value 0.21%, origin 2009Q2',
 'Unnamed: 10 row 279': 'value 0.20%, origin 2009Q2',
 'Unnamed: 10 row 280': 'value 0.19%, origin 2009Q2',
 'Unnamed: 10 row 281': 'value 0.17%, origin 2009Q2',
 'Unnamed: 10 row 282': 'value 0.17%, origin 2009Q2',
 'Unnamed: 10 row 283': 'value 0.16%, origin 2009Q2',
 'Unnamed: 10 row 284': 'value 0.15%, origin 2009Q2',
 'Unnamed: 10 row 285': 'value 0.14%, origin 2009Q2',
 'Unnamed: 10 row 286': 'value 0.12%, origin 2009Q2',
 'Unnamed: 10 row 287': 'value 0.12%, origin 2009Q2',
 'Unnamed: 10 row 288': 'value 0.12%, origin 2009Q2',
 'Unnamed: 10 row 289': 'value 0.12%, origin 2009Q2',
 'Unnamed: 10 row 290': 'value 0.11%, origin 2009Q2',
 'Unnamed: 10 row 291': 'value 0.11%, origin 2009Q2',
 'Unnamed: 10 row 292': 'value 0.11%, origin 2009Q2',
 'Unnamed: 10 row 293': 'value 0.11%, origin 2009Q2',
 'Unnamed: 10 row 294': 'value 0.10%, origin 2009Q2',
 'Unnamed: 10 row 295': 'value 0.10%, origin 2009Q2',
 'Unnamed: 10 row 296': 'value 0.08%, origin 2009Q2',
 'Unnamed: 10 row 297': 'value 0.08%, origin 2009Q2',
 'Unnamed: 10 row 298': 'value 0.07%, origin 2009Q2',
 'Unnamed: 10 row 299': 'value 0.06%, origin 2009Q2',
 'Unnamed: 10 row 300': 'value 0.06%, origin 2009Q2',
 'Unnamed: 10 row 301': 'value 0.05%, origin 2009Q2',
 'Unnamed: 10 row 302': 'value 0.05%, origin 2009Q2',
 'Unnamed: 10 row 303': 'value 0.05%, origin 2009Q2',
 'Unnamed: 10 row 304': 'value 0.04%, origin 2009Q2',
 'Unnamed: 10 row 305': 'value 0.04%, origin 2009Q2',
 'Unnamed: 10 row 306': 'value 0.04%, origin 2009Q2',
 'Unnamed: 10 row 307': 'value 0.03%, origin 2009Q2',
 'Unnamed: 10 row 308': 'value 0.03%, origin 2009Q2',
 'Unnamed: 10 row 309': 'value 0.03%, origin 2009Q2',
 'Unnamed: 10 row 310': 'value 0.03%, origin 2009Q2',
 'Unnamed: 10 row 311': 'value 0.03%, origin 2009Q2',
 'Unnamed: 10 row 312': 'value 0.02%, origin 2009Q2',
 'Unnamed: 10 row 313': 'value 0.02%, origin 2009Q2',
 'Unnamed: 10 row 314': 'value 0.02%, origin 2009Q2',
 'Unnamed: 10 row 315': 'value 0.02%, origin 2009Q2',
 'Unnamed: 10 row 316': 'value 0.02%, origin 2009Q2',
 'Unnamed: 10 row 317': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 318': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 319': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 320': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 321': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 322': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 323': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 324': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 325': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 326': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 327': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 328': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 329': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 330': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 331': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 332': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 333': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 334': 'value 0.01%, origin 2009Q2',
 'Unnamed: 10 row 424': 'value 16.64%, origin 2009Q3',
 'Unnamed: 10 row 425': 'value 12.75%, origin 2009Q3',
 'Unnamed: 10 row 426': 'value 8.59%, origin 2009Q3',
 'Unnamed: 10 row 427': 'value 3.21%, origin 2009Q3',
 'Unnamed: 10 row 428': 'value 2.58%, origin 2009Q3',
 'Unnamed: 10 row 429': 'value 2.46%, origin 2009Q3',
 'Unnamed: 10 row 430': 'value 2.11%, origin 2009Q3',
 'Unnamed: 10 row 431': 'value 1.96%, origin 2009Q3',
 'Unnamed: 10 row 432': 'value 1.88%, origin 2009Q3',
 'Unnamed: 10 row 433': 'value 1.87%, origin 2009Q3',
 'Unnamed: 10 row 434': 'value 1.83%, origin 2009Q3',
 'Unnamed: 10 row 435': 'value 1.61%, origin 2009Q3',
 'Unnamed: 10 row 436': 'value 1.55%, origin 2009Q3',
 'Unnamed: 10 row 437': 'value 1.48%, origin 2009Q3',
 'Unnamed: 10 row 438': 'value 1.44%, origin 2009Q3',
 'Unnamed: 10 row 439': 'value 1.40%, origin 2009Q3',
 'Unnamed: 10 row 440': 'value 1.33%, origin 2009Q3',
 'Unnamed: 10 row 441': 'value 1.32%, origin 2009Q3',
 'Unnamed: 10 row 442': 'value 1.28%, origin 2009Q3',
 'Unnamed: 10 row 443': 'value 1.26%, origin 2009Q3',
 'Unnamed: 10 row 444': 'value 1.20%, origin 2009Q3',
 'Unnamed: 10 row 445': 'value 1.19%, origin 2009Q3',
 'Unnamed: 10 row 446': 'value 1.18%, origin 2009Q3',
 'Unnamed: 10 row 447': 'value 1.13%, origin 2009Q3',
 'Unnamed: 10 row 448': 'value 1.07%, origin 2009Q3',
 'Unnamed: 10 row 449': 'value 0.92%, origin 2009Q3',
 'Unnamed: 10 row 450': 'value 0.87%, origin 2009Q3',
 'Unnamed: 10 row 451': 'value 0.87%, origin 2009Q3',
 'Unnamed: 10 row 452': 'value 0.87%, origin 2009Q3',
 'Unnamed: 10 row 453': 'value 0.86%, origin 2009Q3',
 'Unnamed: 10 row 454': 'value 0.83%, origin 2009Q3',
 'Unnamed: 10 row 455': 'value 0.77%, origin 2009Q3',
 'Unnamed: 10 row 456': 'value 0.76%, origin 2009Q3',
 'Unnamed: 10 row 457': 'value 0.76%, origin 2009Q3',
 'Unnamed: 10 row 458': 'value 0.74%, origin 2009Q3',
 'Unnamed: 10 row 459': 'value 0.74%, origin 2009Q3',
 'Unnamed: 10 row 460': 'value 0.73%, origin 2009Q3',
 'Unnamed: 10 row 461': 'value 0.73%, origin 2009Q3',
 'Unnamed: 10 row 462': 'value 0.71%, origin 2009Q3',
 'Unnamed: 10 row 463': 'value 0.68%, origin 2009Q3',
 'Unnamed: 10 row 464': 'value 0.66%, origin 2009Q3',
 'Unnamed: 10 row 465': 'value 0.59%, origin 2009Q3',
 'Unnamed: 10 row 466': 'value 0.55%, origin 2009Q3',
 'Unnamed: 10 row 467': 'value 0.52%, origin 2009Q3',
 'Unnamed: 10 row 468': 'value 0.51%, origin 2009Q3',
 'Unnamed: 10 row 469': 'value 0.51%, origin 2009Q3',
 'Unnamed: 10 row 470': 'value 0.50%, origin 2009Q3',
 'Unnamed: 10 row 471': 'value 0.48%, origin 2009Q3',
 'Unnamed: 10 row 472': 'value 0.47%, origin 2009Q3',
 'Unnamed: 10 row 473': 'value 0.44%, origin 2009Q3',
 'Unnamed: 10 row 474': 'value 0.44%, origin 2009Q3',
 'Unnamed: 10 row 475': 'value 0.43%, origin 2009Q3',
 'Unnamed: 10 row 476': 'value 0.43%, origin 2009Q3',
 'Unnamed: 10 row 477': 'value 0.43%, origin 2009Q3',
 'Unnamed: 10 row 478': 'value 0.41%, origin 2009Q3',
 'Unnamed: 10 row 479': 'value 0.38%, origin 2009Q3',
 'Unnamed: 10 row 480': 'value 0.37%, origin 2009Q3',
 'Unnamed: 10 row 481': 'value 0.36%, origin 2009Q3',
 'Unnamed: 10 row 482': 'value 0.31%, origin 2009Q3',
 'Unnamed: 10 row 483': 'value 0.30%, origin 2009Q3',
 'Unnamed: 10 row 484': 'value 0.30%, origin 2009Q3',
 'Unnamed: 10 row 485': 'value 0.26%, origin 2009Q3',
 'Unnamed: 10 row 486': 'value 0.26%, origin 2009Q3',
 'Unnamed: 10 row 487': 'value 0.26%, origin 2009Q3',
 'Unnamed: 10 row 488': 'value 0.22%, origin 2009Q3',
 'Unnamed: 10 row 489': 'value 0.22%, origin 2009Q3',
 'Unnamed: 10 row 490': 'value 0.20%, origin 2009Q3',
 'Unnamed: 10 row 491': 'value 0.18%, origin 2009Q3',
 'Unnamed: 10 row 492': 'value 0.18%, origin 2009Q3',
 'Unnamed: 10 row 493': 'value 0.16%, origin 2009Q3',
 'Unnamed: 10 row 494': 'value 0.16%, origin 2009Q3',
 'Unnamed: 10 row 495': 'value 0.15%, origin 2009Q3',
 'Unnamed: 10 row 496': 'value 0.15%, origin 2009Q3',
 'Unnamed: 10 row 497': 'value 0.14%, origin 2009Q3',
 'Unnamed: 10 row 498': 'value 0.13%, origin 2009Q3',
 'Unnamed: 10 row 499': 'value 0.13%, origin 2009Q3',
 'Unnamed: 10 row 500': 'value 0.12%, origin 2009Q3',
 'Unnamed: 10 row 501': 'value 0.11%, origin 2009Q3',
 'Unnamed: 10 row 502': 'value 0.11%, origin 2009Q3',
 'Unnamed: 10 row 503': 'value 0.11%, origin 2009Q3',
 'Unnamed: 10 row 504': 'value 0.10%, origin 2009Q3',
 'Unnamed: 10 row 505': 'value 0.10%, origin 2009Q3',
 'Unnamed: 10 row 506': 'value 0.08%, origin 2009Q3',
 'Unnamed: 10 row 507': 'value 0.08%, origin 2009Q3',
 'Unnamed: 10 row 508': 'value 0.07%, origin 2009Q3',
 'Unnamed: 10 row 509': 'value 0.06%, origin 2009Q3',
 'Unnamed: 10 row 510': 'value 0.05%, origin 2009Q3',
 'Unnamed: 10 row 511': 'value 0.05%, origin 2009Q3',
 'Unnamed: 10 row 512': 'value 0.05%, origin 2009Q3',
 'Unnamed: 10 row 513': 'value 0.05%, origin 2009Q3',
 'Unnamed: 10 row 514': 'value 0.05%, origin 2009Q3',
 'Unnamed: 10 row 515': 'value 0.04%, origin 2009Q3',
 'Unnamed: 10 row 516': 'value 0.04%, origin 2009Q3',
 'Unnamed: 10 row 517': 'value 0.03%, origin 2009Q3',
 'Unnamed: 10 row 518': 'value 0.03%, origin 2009Q3',
 'Unnamed: 10 row 519': 'value 0.03%, origin 2009Q3',
 'Unnamed: 10 row 520': 'value 0.03%, origin 2009Q3',
 'Unnamed: 10 row 521': 'value 0.02%, origin 2009Q3',
 'Unnamed: 10 row 522': 'value 0.02%, origin 2009Q3',
 'Unnamed: 10 row 523': 'value 0.02%, origin 2009Q3',
 'Unnamed: 10 row 524': 'value 0.02%, origin 2009Q3',
 'Unnamed: 10 row 525': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 526': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 527': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 528': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 529': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 530': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 531': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 532': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 533': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 534': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 535': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 536': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 537': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 538': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 539': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 540': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 541': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 542': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 543': 'value 0.01%, origin 2009Q3',
 'Unnamed: 10 row 635': 'value 16.11%, origin 2009Q4',
 'Unnamed: 10 row 636': 'value 12.42%, origin 2009Q4',
 'Unnamed: 10 row 637': 'value 8.67%, origin 2009Q4',
 'Unnamed: 10 row 638': 'value 3.16%, origin 2009Q4',
 'Unnamed: 10 row 639': 'value 2.54%, origin 2009Q4',
 'Unnamed: 10 row 640': 'value 2.43%, origin 2009Q4',
 'Unnamed: 10 row 641': 'value 2.09%, origin 2009Q4',
 'Unnamed: 10 row 642': 'value 1.87%, origin 2009Q4',
 'Unnamed: 10 row 643': 'value 1.85%, origin 2009Q4',
 'Unnamed: 10 row 644': 'value 1.82%, origin 2009Q4',
 'Unnamed: 10 row 645': 'value 1.82%, origin 2009Q4',
 'Unnamed: 10 row 646': 'value 1.58%, origin 2009Q4',
 'Unnamed: 10 row 647': 'value 1.50%, origin 2009Q4',
 'Unnamed: 10 row 648': 'value 1.43%, origin 2009Q4',
 'Unnamed: 10 row 649': 'value 1.42%, origin 2009Q4',
 'Unnamed: 10 row 650': 'value 1.41%, origin 2009Q4',
 'Unnamed: 10 row 651': 'value 1.32%, origin 2009Q4',
 'Unnamed: 10 row 652': 'value 1.32%, origin 2009Q4',
 'Unnamed: 10 row 653': 'value 1.29%, origin 2009Q4',
 'Unnamed: 10 row 654': 'value 1.24%, origin 2009Q4',
 'Unnamed: 10 row 655': 'value 1.24%, origin 2009Q4',
 'Unnamed: 10 row 656': 'value 1.22%, origin 2009Q4',
 'Unnamed: 10 row 657': 'value 1.21%, origin 2009Q4',
 'Unnamed: 10 row 658': 'value 1.18%, origin 2009Q4',
 'Unnamed: 10 row 659': 'value 1.18%, origin 2009Q4',
 'Unnamed: 10 row 660': 'value 1.16%, origin 2009Q4',
 'Unnamed: 10 row 661': 'value 0.97%, origin 2009Q4',
 'Unnamed: 10 row 662': 'value 0.90%, origin 2009Q4',
 'Unnamed: 10 row 663': 'value 0.88%, origin 2009Q4',
 'Unnamed: 10 row 664': 'value 0.87%, origin 2009Q4',
 'Unnamed: 10 row 665': 'value 0.85%, origin 2009Q4',
 'Unnamed: 10 row 666': 'value 0.84%, origin 2009Q4',
 'Unnamed: 10 row 667': 'value 0.83%, origin 2009Q4',
 'Unnamed: 10 row 668': 'value 0.79%, origin 2009Q4',
 'Unnamed: 10 row 669': 'value 0.77%, origin 2009Q4',
 'Unnamed: 10 row 670': 'value 0.76%, origin 2009Q4',
 'Unnamed: 10 row 671': 'value 0.73%, origin 2009Q4',
 'Unnamed: 10 row 672': 'value 0.72%, origin 2009Q4',
 'Unnamed: 10 row 673': 'value 0.72%, origin 2009Q4',
 'Unnamed: 10 row 674': 'value 0.72%, origin 2009Q4',
 'Unnamed: 10 row 675': 'value 0.71%, origin 2009Q4',
 'Unnamed: 10 row 676': 'value 0.61%, origin 2009Q4',
 'Unnamed: 10 row 677': 'value 0.60%, origin 2009Q4',
 'Unnamed: 10 row 678': 'value 0.54%, origin 2009Q4',
 'Unnamed: 10 row 679': 'value 0.50%, origin 2009Q4',
 'Unnamed: 10 row 680': 'value 0.50%, origin 2009Q4',
 'Unnamed: 10 row 681': 'value 0.50%, origin 2009Q4',
 'Unnamed: 10 row 682': 'value 0.49%, origin 2009Q4',
 'Unnamed: 10 row 683': 'value 0.49%, origin 2009Q4',
 'Unnamed: 10 row 684': 'value 0.43%, origin 2009Q4',
 'Unnamed: 10 row 685': 'value 0.43%, origin 2009Q4',
 'Unnamed: 10 row 686': 'value 0.43%, origin 2009Q4',
 'Unnamed: 10 row 687': 'value 0.42%, origin 2009Q4',
 'Unnamed: 10 row 688': 'value 0.42%, origin 2009Q4',
 'Unnamed: 10 row 689': 'value 0.41%, origin 2009Q4',
 'Unnamed: 10 row 690': 'value 0.41%, origin 2009Q4',
 'Unnamed: 10 row 691': 'value 0.41%, origin 2009Q4',
 'Unnamed: 10 row 692': 'value 0.34%, origin 2009Q4',
 'Unnamed: 10 row 693': 'value 0.34%, origin 2009Q4',
 'Unnamed: 10 row 694': 'value 0.31%, origin 2009Q4',
 'Unnamed: 10 row 695': 'value 0.30%, origin 2009Q4',
 'Unnamed: 10 row 696': 'value 0.26%, origin 2009Q4',
 'Unnamed: 10 row 697': 'value 0.26%, origin 2009Q4',
 'Unnamed: 10 row 698': 'value 0.26%, origin 2009Q4',
 'Unnamed: 10 row 699': 'value 0.24%, origin 2009Q4',
 'Unnamed: 10 row 700': 'value 0.21%, origin 2009Q4',
 'Unnamed: 10 row 701': 'value 0.21%, origin 2009Q4',
 'Unnamed: 10 row 702': 'value 0.20%, origin 2009Q4',
 'Unnamed: 10 row 703': 'value 0.19%, origin 2009Q4',
 'Unnamed: 10 row 704': 'value 0.18%, origin 2009Q4',
 'Unnamed: 10 row 705': 'value 0.17%, origin 2009Q4',
 'Unnamed: 10 row 706': 'value 0.16%, origin 2009Q4',
 'Unnamed: 10 row 707': 'value 0.15%, origin 2009Q4',
 'Unnamed: 10 row 708': 'value 0.14%, origin 2009Q4',
 'Unnamed: 10 row 709': 'value 0.14%, origin 2009Q4',
 'Unnamed: 10 row 710': 'value 0.13%, origin 2009Q4',
 'Unnamed: 10 row 711': 'value 0.12%, origin 2009Q4',
 'Unnamed: 10 row 712': 'value 0.12%, origin 2009Q4',
 'Unnamed: 10 row 713': 'value 0.11%, origin 2009Q4',
 'Unnamed: 10 row 714': 'value 0.10%, origin 2009Q4',
 'Unnamed: 10 row 715': 'value 0.09%, origin 2009Q4',
 'Unnamed: 10 row 716': 'value 0.08%, origin 2009Q4',
 'Unnamed: 10 row 717': 'value 0.08%, origin 2009Q4',
 'Unnamed: 10 row 718': 'value 0.08%, origin 2009Q4',
 'Unnamed: 10 row 719': 'value 0.07%, origin 2009Q4',
 'Unnamed: 10 row 720': 'value 0.06%, origin 2009Q4',
 'Unnamed: 10 row 721': 'value 0.05%, origin 2009Q4',
 'Unnamed: 10 row 722': 'value 0.05%, origin 2009Q4',
 'Unnamed: 10 row 723': 'value 0.05%, origin 2009Q4',
 'Unnamed: 10 row 724': 'value 0.05%, origin 2009Q4',
 'Unnamed: 10 row 725': 'value 0.05%, origin 2009Q4',
 'Unnamed: 10 row 726': 'value 0.04%, origin 2009Q4',
 'Unnamed: 10 row 727': 'value 0.04%, origin 2009Q4',
 'Unnamed: 10 row 728': 'value 0.04%, origin 2009Q4',
 'Unnamed: 10 row 729': 'value 0.04%, origin 2009Q4',
 'Unnamed: 10 row 730': 'value 0.03%, origin 2009Q4',
 'Unnamed: 10 row 731': 'value 0.03%, origin 2009Q4',
 'Unnamed: 10 row 732': 'value 0.03%, origin 2009Q4',
 'Unnamed: 10 row 733': 'value 0.03%, origin 2009Q4',
 'Unnamed: 10 row 734': 'value 0.02%, origin 2009Q4',
 'Unnamed: 10 row 735': 'value 0.02%, origin 2009Q4',
 'Unnamed: 10 row 736': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 737': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 738': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 739': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 740': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 741': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 742': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 743': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 744': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 745': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 746': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 747': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 748': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 749': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 750': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 751': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 752': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 753': 'value 0.01%, origin 2009Q4',
 'Unnamed: 10 row 843': 'value 16.88%, origin 2010Q1',
 'Unnamed: 10 row 844': 'value 12.34%, origin 2010Q1',
 'Unnamed: 10 row 845': 'value 8.92%, origin 2010Q1',
 'Unnamed: 10 row 846': 'value 3.11%, origin 2010Q1',
 'Unnamed: 10 row 847': 'value 2.57%, origin 2010Q1',
 'Unnamed: 10 row 848': 'value 2.44%, origin 2010Q1',
 'Unnamed: 10 row 849': 'value 2.11%, origin 2010Q1',
 'Unnamed: 10 row 850': 'value 1.89%, origin 2010Q1',
 'Unnamed: 10 row 851': 'value 1.83%, origin 2010Q1',

Okay so none of the unnamed columns are accidental - they do contain data - so I need to troubleshoot *why* they are unnamed.

In [ ]:
# create fresh df, take column labels from first ordered dataset, add column to specify date, clean dataset, add to master df

file_names = [file for file in os.listdir('./data/raw') if file[0] != '.']

file_names.sort()

# function to simplify and remove extra columns
def remove_empty_columns(processing_df):
    for column in processing_df.columns:
            if "Unnamed" in column and processing_df.loc[:,column].isnull().all() == True:
                processing_df.drop(column, axis = 1, inplace = True)
    # remove the "grand total" row
    processing_df.drop(index = processing_df.index[-1],inplace=True)
    return processing_df

# import only the first file to begin the dataframe
master_df = pd.read_excel(f'./data/raw/{file_names[0]}', skiprows = 14)

remove_empty_columns(master_df)

# rename columns in master
for column in master_df.columns:
    if "Unnamed" in column:
        current_column_number = master_df.columns.get_loc(column)
        name_preceding = master_df.columns[current_column_number - 1]
        new_column_name = "Percentage " + name_preceding
        master_df.rename(columns = {column : new_column_name}, inplace = True)

# add column to identify which dataset the data come from
master_df.insert(0, 'dataset', value = file_names[0][:6])

# import remaining datasets
for file_name in file_names[1:]:
    working_df = pd.read_excel(f'./data/raw/{file_name}', skiprows = 14)
    remove_empty_columns(working_df)
    working_df.insert(0, 'dataset', value = file_name[:6])
    master_df = pd.concat([master_df, working_df], axis = 0, ignore_index = True) #ChatGPT assures me this is unlikely to be a problem to keep reiterating over the same df

master_df

next: open 2009Q1 and 2009Q2; compare column names between them; seems like it's removing empty columns it should not remove in Q1.

In [66]:
list(temp.columns)

['Rank',
 'Insurer Name',
 'Policies In Force',
 'Percentage Policies In Force',
 'Total $ value of exposure for policies in force that include wind coverage',
 'Percentage Total $ value of exposure for policies in force that include wind coverage',
 'Number of policies canceled',
 'Percentage Number of policies canceled',
 'Number of policies nonrenewed',
 'Percentage Number of policies nonrenewed',
 'Number of policies canceled due to hurricane risk',
 'Percentage Number of policies canceled due to hurricane risk',
 'Number of policies nonrenewed due to hurricane risk',
 'Percentage Number of policies nonrenewed due to hurricane risk',
 'Number of new policies written',
 'Percentage Number of new policies written',
 'Policies in force that exclude wind coverage',
 'Percentage Policies in force that exclude wind coverage',
 'Total premiums written',
 'Percentage Total premiums written',
 'Policies in force that include wind coverage',
 'Percentage Policies in force that include wind coverage',
 'Total $ value of exposure for policies in force that exclude wind coverage',
 'Percentage Total $ value of exposure for policies in force that exclude wind coverage',
 'Direct premium written for policies in force that include wind coverage',
 'Percentage Direct premium written for policies in force that include wind coverage',
 'Direct premium written for policies in force that exclude wind coverage',
 'Percentage Direct premium written for policies in force that exclude wind coverage',
 'Number of policies transferred to other insurers',
 'Percentage Number of policies transferred to other insurers',
 'Number of policies received from other insurers',
 'Percentage Number of policies received from other insurers',
 'Claims Opened',
 'Percentage Claims Opened',
 'Claims Closed',
 'Percentage Claims Closed',
 'Claims Pending',
 'Percentage Claims Pending',
 'Claims Alternative Dispute',
 'Percentage Claims Alternative Dispute',
 'Claims with Mediation',
 'Percentage Claims with Mediation',
 'Claims with Arbitration',
 'Percentage Claims with Arbitration',
 'Claims with Appraisal',
 'Percentage Claims with Appraisal',
 'Claims with Sink Hole Eval',
 'Percentage Claims with Sink Hole Eval',
 'Claims with Settlement Conf',
 'Percentage Claims with Settlement Conf',
 'Claims with Other',
 'Percentage Claims with Other']

In [63]:
file_name = file_names[1]
working_df = pd.read_excel(f'./data/raw/{file_name}', skiprows = 14)
temp = remove_empty_columns(working_df)
for column in temp.columns:
    if "Unnamed" in column:
        current_column_number = temp.columns.get_loc(column)
        name_preceding = temp.columns[current_column_number - 1]
        new_column_name = "Percentage " + name_preceding
        temp.rename(columns = {column : new_column_name}, inplace = True)
temp

,Rank,Insurer Name,Policies In Force,Percentage Policies In Force,Total $ value of exposure for policies in force that include wind coverage,Percentage Total $ value of exposure for policies in force that include wind coverage,Number of policies canceled,Percentage Number of policies canceled,Number of policies nonrenewed,Percentage Number of policies nonrenewed,...,Claims with Arbitration,Percentage Claims with Arbitration,Claims with Appraisal,Percentage Claims with Appraisal,Claims with Sink Hole Eval,Percentage Claims with Sink Hole Eval,Claims with Settlement Conf,Percentage Claims with Settlement Conf,Claims with Other,Percentage Claims with Other
0,1,CITIZENS PROPERTY INSURANCE CORPORATION,1013376,16.33%,3.732583e+11,17.39%,40468,16.46%,124160,52.97%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
1,2,STATE FARM FLORIDA INSURANCE COMPANY,815253,13.14%,3.518641e+11,16.39%,39853,16.21%,5082,2.17%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
2,3,UNIVERSAL PROPERTY & CASUALTY INSURANCE COMPANY,518704,8.36%,1.106672e+11,5.16%,11618,4.72%,17384,7.42%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
3,4,"ST. JOHNS INSURANCE COMPANY, INC.",202559,3.26%,7.661252e+10,3.57%,9848,4%,222,0.09%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
4,5,UNITED SERVICES AUTOMOBILE ASSOCIATION,160928,2.59%,6.646357e+10,3.10%,4245,1.73%,2114,0.90%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,207,ST. PAUL GUARDIAN INSURANCE COMPANY,1,0%,5.000000e+04,0%,0,0%,0,0%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
207,208,WORKMEN'S AUTO INSURANCE COMPANY,1,0%,1.570000e+05,0%,0,0%,0,0%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
208,209,ACE INSURANCE COMPANY OF THE MIDWEST,0,0%,0.000000e+00,0%,0,0%,0,0%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
209,210,EMPLOYERS MUTUAL CASUALTY COMPANY,0,0%,0.000000e+00,0%,2,0%,0,0%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%
210,211,KEMPER INDEPENDENCE INSURANCE COMPANY,0,0%,1.441000e+06,0%,0,0%,3,0%,...,NaN,0%,NaN,0%,NaN,0%,NaN,0%,NaN,0%

# Testing

In [74]:
test = 'this is a test string thingy line'
if "hi" in test:
    print('hi')

hi

In [75]:
import time

items = ["Item 1", "Item 2", "Item 3", "Item 4"]

for item in items:
    clear_output(wait = True)
    print(item)
    time.sleep(1)

# Optionally move to a new line after the loop
print()

Item 4

In [76]:
# chatty G getting wild

from IPython.display import display, clear_output
import ipywidgets as widgets

items = ["Apple", "Banana", "Cherry", "Date"]
saved_items = []
index = 0  # Keeps track of which item we're on

# Buttons
save_button = widgets.Button(description="Save")
skip_button = widgets.Button(description="Skip")
output = widgets.Output()

def handle_click(button):
    global index
    if button == save_button:
        saved_items.append(items[index])
    
    index += 1
    if index < len(items):
        show_item()
    else:
        clear_output()
        print("Done! Saved items:", saved_items)

def show_item():
    clear_output(wait=True)
    print("Current item:", items[index])
    display(save_button, skip_button)

save_button.on_click(handle_click)
skip_button.on_click(handle_click)

# Start it off
show_item()

Current item: Apple

Button(description='Save', style=ButtonStyle())

Button(description='Skip', style=ButtonStyle())